.main-header {
    background-color: rgba(87, 58, 9, 0.6);
    background-image: url("headerImg.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 5% 30%;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(247, 238, 205);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-footer{
    background-color: rgba(67, 28, 6, 0.86);
    text-align: center;
    color:rgb(244, 220, 187);
}

.nav li {
    display:inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color:  rgba(82, 49, 30, 0.86);
    cursor:pointer;
}